/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

#favorite-stories-list, #own-stories-list{
  list-style: none;
  padding-left: 20px;
}


/* Individual stories */
.star {
  cursor: pointer;
}
.trash-can {
  font-size: 15px;
  cursor: pointer;
}
.trash-can:hover {
  color: rgb(179, 7, 7);
}

.story-author {
  display: block;
  margin-left: 2rem;
  font-size: 14px;
  color: rgb(0, 161, 0);
  padding: 6px 0;
}

.story-user {
  display: block;
  margin-left: 2rem;
  font-size: 13px;
  color: orange;
}

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}
